In [1]:
from pyspark.sql import SparkSession, dataframe
from pyspark.sql.functions import when, col, sum, count, isnan, round
from pyspark.sql.functions import regexp_replace, concat_ws, sha2
from pyspark.sql.functions import rtrim
from pyspark.sql.functions import unix_timestamp, from_unixtime, to_date

In [2]:
# Criação da instância spark para leitura e criação de tabelas
spark = SparkSession.builder.master("local[*]").enableHiveSupport().getOrCreate()

In [3]:
# Lendo tabela CLIENTES do HDFS:

df_clientes = spark.read.options(delimiter=';', header=True).option('inferSchema','true')\
                                .csv('/dados_processamento/dados/CLIENTES.csv')

In [4]:
# Lendo tabela DIVISAO do HDFS:

df_divisao = spark.read.options(delimiter=';', header=True).option('inferSchema','true')\
                                .csv('/dados_processamento/dados/DIVISAO.csv')

In [5]:
df_divisao.printSchema()

root
 |-- Division: integer (nullable = true)
 |-- Division Name: string (nullable = true)

In [6]:
# Lendo tabela ENDERECO do HDFS:

df_endereco = spark.read.options(delimiter=';', header=True).option('inferSchema','true')\
                                .csv('/dados_processamento/dados/ENDERECO.csv')

In [7]:
# Lendo tabela REGIAO do HDFS:

df_regiao = spark.read.options(delimiter=';', header=True).option('inferSchema','true')\
                                .csv('/dados_processamento/dados/REGIAO.csv')

In [8]:
df_regiao.printSchema()

root
 |-- Region Code: integer (nullable = true)
 |-- Region Name: string (nullable = true)

In [9]:
# Lendo tabela VENDAS do HDFS:

df_vendas = spark.read.options(delimiter=';', header=True).option('inferSchema','true')\
                                .csv('/dados_processamento/dados/VENDAS.csv')

In [10]:
## Analisando a tabela Cliente

df_clientes.printSchema()

root
 |-- Address Number: integer (nullable = true)
 |-- Business Family: string (nullable = true)
 |-- Business Unit: integer (nullable = true)
 |-- Customer: string (nullable = true)
 |-- CustomerKey: integer (nullable = true)
 |-- Customer Type: string (nullable = true)
 |-- Division: integer (nullable = true)
 |-- Line of Business: string (nullable = true)
 |-- Phone: string (nullable = true)
 |-- Region Code: integer (nullable = true)
 |-- Regional Sales Mgr: string (nullable = true)
 |-- Search Type: string (nullable = true)

In [11]:
df_clientes.show()

+--------------+---------------+-------------+--------------------+-----------+-------------+--------+----------------+------------+-----------+------------------+-----------+
|Address Number|Business Family|Business Unit|            Customer|CustomerKey|Customer Type|Division|Line of Business|       Phone|Region Code|Regional Sales Mgr|Search Type|
+--------------+---------------+-------------+--------------------+-----------+-------------+--------+----------------+------------+-----------+------------------+-----------+
|      10000000|             R3|            1|    City Supermarket|   10000000|           G2|       2|                |816-455-8733|          4|               S16|          C|
|      10000453|             R3|            1|       A Supermarket|   10000453|           G1|       1|                |816-455-8733|          5|               S19|          C|
|      10000455|             R3|            1|Caribian Supermarket|   10000455|           G2|       2|                |816-455-8733|          1|               S16|          C|
|      10000456|             R1|            1|            A&B Shop|   10000456|           G3|       1|                |816-455-8733|          0|                S2|          C|
|      10000457|             O2|            1|            A&G Shop|   10000457|           G1|       1|                |816-455-8733|          5|                S1|          C|
|      10000458|             R3|            1|          A&R Market|   10000458|           G2|       2|                |816-455-8733|          4|                S9|          C|
|      10000460|             R3|            1|        Meals Market|   10000460|           G2|       2|                |816-455-8733|          2|               S16|          C|
|      10000461|             R1|            1|            A1 Store|   10000461|           G3|       1|                |816-455-8733|          0|                S2|          C|
|      10000462|             R3|            1|            a2i Shop|   10000462|           G2|       2|                |816-455-8733|          4|                S1|          C|
|      10000466|             R3|            1|           A2Z Store|   10000466|           G2|       2|                |816-455-8733|          1|               S16|          C|
|      10000469|             R3|            1|   A-2-Z Supermarket|   10000469|           G3|       1|                |816-455-8733|          0|                S5|          C|
|      10000471|             R3|            1|         Aadast Shop|   10000471|           G1|       1|              M1|816-455-8733|          5|               S19|          C|
|      10000472|             R3|            1|         Aaron Store|   10000472|           G2|       2|                |816-455-8733|          1|                S4|          C|
|      10000473|             R3|            1|   Aaron Supermarket|   10000473|           G2|       2|                |816-455-8733|          1|               S16|          C|
|      10000474|             R2|            1|       A-ARVIN Store|   10000474|           G2|       2|                |816-455-8733|          4|                S9|          C|
|      10000475|             R3|            1|      AA-Wizard Shop|   10000475|           G2|       2|                |816-455-8733|          2|               S16|          C|
|      10000478|             R3|            1|       Abacus Market|   10000478|           G2|       2|                |816-455-8733|          2|               S16|          C|
|      10000480|             R2|            1|     Abbotsbury Shop|   10000480|           G2|       2|                |816-455-8733|          1|                S5|          C|
|      10000481|             R2|            1|         Abbott Shop|   10000481|           G2|       2|                |816-455-8733|          4|                S5|          C|
|      10000486|             R3|            1|       Aberdeen Shop|   10000486|           G2|       1|                |816-455-8733|          5|               S14|          C|
+--------------+---------------+-------------+--------------------+-----------+-------------+--------+----------------+------------+-----------+------------------+-----------+
only showing top 20 rows

In [12]:
# Função para verificar a existêncai de dados Null em um datafreme
def verificar_val_null(df):
    df.select([count(when(col(c).isNull(), c)).alias(c) for c in df.columns]).show()
    
    
# Realiza a correção dos dados que são compostos apenas por espaços
def corrigir_dados_formado_por_espaços(df):
    for c in df.columns:
        df = df.withColumn(c,rtrim(df[c]))
        df = df.withColumn(c, when(df[c] == '', 'NÃO INFORMADO')\
                                         .otherwise(df[c]))
    return df

# Realiza a correção dos dados que são nulos na tabela de acordo com o tipo e a regrea de negocio
def corrigir_dados_null(df):
    for c in df.columns:
        if (str(df.schema[c].dataType) == 'StringType'):
            df = df.withColumn(c, when(df[c].isNull(), 'NÃO INFORMADO').otherwise(df[c]))
        elif (str(df.schema[c].dataType) == 'DoubleType'):
            df = df.withColumn(c, when(df[c].isNull(), 0.0).otherwise(df[c]))
        elif (str(df.schema[c].dataType) == 'IntegerType'):
            df = df.withColumn(c, when(df[c].isNull(), 0).otherwise(df[c]))
    return df


# Corrigir as colunas que estão com os tipos errados de dados (não é valido para datas)
def converter_tipo_coluna(df, colunas, tipo):
    if type(colunas) != list:
        colunas = [colunas] 
    for col_name in colunas:
        df = df.withColumn(col_name, col(col_name).cast(tipo))       
    return df

In [13]:
# Verificando a existência de dados Null ou NaN
verificar_val_null(df_clientes)

+--------------+---------------+-------------+--------+-----------+-------------+--------+----------------+-----+-----------+------------------+-----------+
|Address Number|Business Family|Business Unit|Customer|CustomerKey|Customer Type|Division|Line of Business|Phone|Region Code|Regional Sales Mgr|Search Type|
+--------------+---------------+-------------+--------+-----------+-------------+--------+----------------+-----+-----------+------------------+-----------+
|             0|              0|            0|       0|          0|            0|       0|               0|    0|          0|                 0|          0|
+--------------+---------------+-------------+--------+-----------+-------------+--------+----------------+-----+-----------+------------------+-----------+

In [14]:
'''
Como a tabale não possui valores Null ou NaN, é necessário apenas alterar a coluna "Line of Business" que possuia a 
str "   " (três espaços) representando o campo não informado.
'''
df_clientes = corrigir_dados_formado_por_espaços(df_clientes)
df_clientes = df_clientes.dropDuplicates(['CustomerKey'])

df_clientes.show()

+--------------+---------------+-------------+--------------------+-----------+-------------+--------+----------------+------------+-----------+------------------+-----------+
|Address Number|Business Family|Business Unit|            Customer|CustomerKey|Customer Type|Division|Line of Business|       Phone|Region Code|Regional Sales Mgr|Search Type|
+--------------+---------------+-------------+--------------------+-----------+-------------+--------+----------------+------------+-----------+------------------+-----------+
|      10000472|             R3|            1|         Aaron Store|   10000472|           G2|       2|   NÃO INFORMADO|816-455-8733|          1|                S4|          C|
|      10025769|             R3|            1|         UUmail Shop|   10025769|           G2|       2|   NÃO INFORMADO|816-455-8733|          1|                S1|          C|
|      10003882|             R3|            1|   Beech Supermarket|   10003882|           G2|       1|   NÃO INFORMADO|816-455-8733|          5|               S16|          C|
|      10019469|             R3|            1|            kGS Shop|   10019469|           G2|       1|   NÃO INFORMADO|816-455-8733|          5|                S1|          C|
|      10023235|             R2|            1|    ReviewBooth Shop|   10023235|           G2|       2|   NÃO INFORMADO|816-455-8733|          2|                S3|          C|
|      10003795|             R3|            1| Bechtel Supermarket|   10003795|           G2|       2|   NÃO INFORMADO|816-455-8733|          2|               S16|          C|
|      10009631|             R3|            1|       Clearout Shop|   10009631|           G2|       2|   NÃO INFORMADO|816-455-8733|          1|               S16|          C|
|      10019512|             R3|            1|          Kim Market|   10019512|           G2|       1|   NÃO INFORMADO|816-455-8733|          5|               S16|          C|
|      10020868|             R3|            1|          One Market|   10020868|           G2|       1|   NÃO INFORMADO|816-455-8733|          5|                S1|          C|
|      10021184|             R3|            1| Pacific Supermarket|   10021184|           G2|       2|   NÃO INFORMADO|816-455-8733|          1|               S16|          C|
|      10025298|             R3|            1|      U. Supermarket|   10025298|           G3|       1|   NÃO INFORMADO|816-455-8733|          0|               S17|          C|
|      10010882|             R3|            1|     EDA Supermarket|   10010882|           G2|       1|   NÃO INFORMADO|816-455-8733|          5|               S16|          I|
|      10021459|             O2|            1|        Papyrus Shop|   10021459|           G2|       2|   NÃO INFORMADO|816-455-8733|          2|               S12|          C|
|      10009885|             R3|            1|Degolyer Supermarket|   10009885|           G3|       1|   NÃO INFORMADO|816-455-8733|          0|                S5|          C|
|      10013312|             R2|            1|        Gate9th Shop|   10013312|           G2|       1|   NÃO INFORMADO|816-455-8733|          5|                S9|          C|
|      10017638|             R3|            1|    Kellys Gigastore|   10017638|           G2|       2|   NÃO INFORMADO|816-455-8733|          3|               S16|          C|
|      10026078|             R3|            1|         Venred Shop|   10026078|           G2|       2|   NÃO INFORMADO|816-455-8733|          4|               S16|          C|
|      10026438|             R3|            1|   PLAINFIELD Market|   10026438|           G1|       1|              M1|816-455-8733|          5|               S19|          C|
|      10010832|             R2|            1|       ?change Store|   10010832|           G2|       1|   NÃO INFORMADO|816-455-8733|          5|               S11|          C|
|      10019514|             R2|            1| Kimball Supermarket|   10019514|           G2|       1|   NÃO INFORMADO|816-455-8733|          5|                S4|          C|
+--------------+---------------+-------------+--------------------+-----------+-------------+--------+----------------+------------+-----------+------------------+-----------+
only showing top 20 rows

In [15]:
df_endereco.printSchema()

root
 |-- Address Number: integer (nullable = true)
 |-- City: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Customer Address 1: string (nullable = true)
 |-- Customer Address 2: string (nullable = true)
 |-- Customer Address 3: string (nullable = true)
 |-- Customer Address 4: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Zip Code: string (nullable = true)

In [16]:
df_endereco.show()

+--------------+--------------------+-------+--------------------+--------------------+--------------------+--------------------+-----+------------+
|Address Number|                City|Country|  Customer Address 1|  Customer Address 2|  Customer Address 3|  Customer Address 4|State|    Zip Code|
+--------------+--------------------+-------+--------------------+--------------------+--------------------+--------------------+-----+------------+
|      10000000|               Akron|     US|         PO Box 6258|                 ...|                 ...|                 ...|   OH|       44312|
|      10000453|                 ...|     UK|                 ...|                 ...|                 ...|                 ...| null|            |
|      10000455|    Huntington Beach|     US|   7392 Count Circle|                 ...|                 ...|                 ...|   CA|       92647|
|      10000456|            Edmonton|     CA|    8151 Wagner Road|                 ...|                 ...|                 ...|   AB|     T6E 4N6|
|      10000458|             Saginaw|     US|          PO Box 840|                 ...|                 ...|                 ...|   MI|       48606|
|      10000460|      Goodlettsville|     US|709 Rivergate Par...|                 ...|                 ...|                 ...|   TN|       37072|
|      10000461|        Boucherville|     CA|     1391 Gay Lussac|                 ...|                 ...|                 ...|   QU|     J4B 7K1|
|      10000462|           Hazelwood|     US|6311 North Lindbe...|                 ...|                 ...|                 ...|   MO|       63042|
|      10000466|     North Highlands|     US|3213 Orange Grove...|                 ...|                 ...|                 ...|   CA|       95660|
|      10000469|            Montreal|     CA|Attention:  Accou...|7025 Ontario Stre...|                 ...|                 ...|   QU|     H1N 2B3|
|      10000471|              Jeddah|     AU|    Al Thalia Street|        PO Box 11605|                 ...|                 ...| null|       11443|
|      10000472|            Van Nuys|     US| 8000 Haskell Avenue|                 ...|                 ...|                 ...|   CA|       91406|
|      10000473|      Rancho Cordova|     US|3290 Monier Circl...|                 ...|                 ...|                 ...|   CA|       95742|
|      10000474|          Des Moines|     US|         PO Box 3265|                 ...|                 ...|                 ...|   IA|       50316|
|      10000475|           Charlotte|     US| 5745 N Tryon Street|                 ...|                 ...|                 ...|   NC|       28213|
|      10000478|         Little Rock|     US|8120 E Doyle Spri...|                 ...|                 ...|                 ...|   AR|       72209|
|      10000480|             Phoenix|     US|Attention: Accoun...|        PO Box 21502|                 ...|                 ...|   AZ|  85036-1502|
|      10000481|             Chicago|     US|            Box 5516|                 ...|                 ...|                 ...|   IL|       60680|
|      10000601|           Creedmoor|     US|  1550 Aereli Avenue|                 ...|                 ...|                 ...|   NC|       27522|
|      10002220|       Prince George|     CA|1594 Nicholson St...|                 ...|                 ...|                 ...|   BC|     V2N 1V6|
+--------------+--------------------+-------+--------------------+--------------------+--------------------+--------------------+-----+------------+
only showing top 20 rows

In [17]:
# Verificando a existência de dados Null
verificar_val_null(df_endereco)

+--------------+----+-------+------------------+------------------+------------------+------------------+-----+--------+
|Address Number|City|Country|Customer Address 1|Customer Address 2|Customer Address 3|Customer Address 4|State|Zip Code|
+--------------+----+-------+------------------+------------------+------------------+------------------+-----+--------+
|             0|   0|      0|                 0|                 0|                 0|                 0|   70|       0|
+--------------+----+-------+------------------+------------------+------------------+------------------+-----+--------+

In [18]:
'''
Pela inspeção visual foi possível perceber que uma série de colunas possui dados faltentes, onde esses campos são preenchido 
por um conjunto de espaços (space). Dependendo da coluna a quantidade de espaços variam. No intuito de uniformizar os campos
que não possuiam dados apenas espaços, foi utilizado a função rtrim (remove espaços a direita).O resultado da aplicação desta
função nos campos onde só possuiam espaços é o retorno do campo vazio (''). Logo, aplicando a substituição dos valores nos 
campos vazios, resolvemos uma parte do problema.

O segundo problema encontrado na tabela foi 70 valores Null na coluna 'state'. Então foi utilizado o método isNull para
identificar os campos nulos e a função when para subsitui-los.
'''

df_endereco = corrigir_dados_formado_por_espaços(df_endereco)
df_endereco = corrigir_dados_null(df_endereco)

# Corrigindo o valor duplicado "10021911" da colluna Address Number, que assim como na tabela de cliente possui as PK repetidas
df_endereco = df_endereco.dropDuplicates(['Address Number'])
df_endereco.show()

+--------------+------------+-------+--------------------+--------------------+------------------+------------------+-------------+----------+
|Address Number|        City|Country|  Customer Address 1|  Customer Address 2|Customer Address 3|Customer Address 4|        State|  Zip Code|
+--------------+------------+-------+--------------------+--------------------+------------------+------------------+-------------+----------+
|      10000472|    Van Nuys|     US| 8000 Haskell Avenue|       NÃO INFORMADO|     NÃO INFORMADO|     NÃO INFORMADO|           CA|     91406|
|      10025769|     Redding|     US| 850 Commerce Street|       NÃO INFORMADO|     NÃO INFORMADO|     NÃO INFORMADO|           CA|     96002|
|      10023235|     Houston|     US| 7600 South Santa Fe|       NÃO INFORMADO|     NÃO INFORMADO|     NÃO INFORMADO|           TX|     77061|
|      10003795| Baton Rouge|     US|         PO Box 2484|       NÃO INFORMADO|     NÃO INFORMADO|     NÃO INFORMADO|           LA|     70815|
|      10009631|      Corona|     US|  1477 Davril Circle|       NÃO INFORMADO|     NÃO INFORMADO|     NÃO INFORMADO|           CA|     92880|
|      10021184|      Aurora|     US|14312 Stenbock Wa...|       NÃO INFORMADO|     NÃO INFORMADO|     NÃO INFORMADO|           OR|     97002|
|      10025298|     Toronto|     CA|1111 Finch Avenue...|            Unit #22|     NÃO INFORMADO|     NÃO INFORMADO|           ON|   M3J 2E5|
|      10021459|Olive Branch|     US|     Memphis PDC #19|Attention   Accou...|        PO Box 786|     NÃO INFORMADO|           MS|38654-3703|
|      10009885|    Winnipeg|     CA|         PO Box 7100|       NÃO INFORMADO|     NÃO INFORMADO|     NÃO INFORMADO|           MB|   R3C 3B3|
|      10017638|     Roanoke|     US|  Advance Auto Parts|Attn  Merchandise...|     P.O. Box 2710|     NÃO INFORMADO|           VA|     24001|
|      10026078|     Bedford|     US|       PO Box 461090|       NÃO INFORMADO|     NÃO INFORMADO|     NÃO INFORMADO|           OH|     44146|
|      10019617|      Spring|     US|        2445 FM 2920|       NÃO INFORMADO|     NÃO INFORMADO|     NÃO INFORMADO|           TX|     77388|
|      10023538|  Fort Worth|     US|Attention: Accoun...|4900 Alliance Gat...|     NÃO INFORMADO|     NÃO INFORMADO|           TX|     76177|
|      10025039|      Mentor|     US|    9049 Tyler Blvd.|       NÃO INFORMADO|     NÃO INFORMADO|     NÃO INFORMADO|           OH|     44060|
|      10025052|  Songtan SI|     AU|  150-3 Chilkei-Dong|       NÃO INFORMADO|     NÃO INFORMADO|     NÃO INFORMADO|NÃO INFORMADO|   459-050|
|      10025246|    Winnepeg|     CA|515 Oak Point Hig...|       NÃO INFORMADO|     NÃO INFORMADO|     NÃO INFORMADO|           MB|   R2R 1V2|
|      10025250|    Ooltewah|     US|  8503 Hilltop Drive|       NÃO INFORMADO|     NÃO INFORMADO|     NÃO INFORMADO|           TN|     37363|
|      10022470|Ormond Beach|     US|    Attention: Linda|100 Business Cent...|     NÃO INFORMADO|     NÃO INFORMADO|           FL|     32176|
|      10023524|     Clemson|     US|         PO Box 1006|       NÃO INFORMADO|     NÃO INFORMADO|     NÃO INFORMADO|           SC|     29633|
|      10008593|    Highland|     US|           PO Box 99|       NÃO INFORMADO|     NÃO INFORMADO|     NÃO INFORMADO|           IL|     62249|
+--------------+------------+-------+--------------------+--------------------+------------------+------------------+-------------+----------+
only showing top 20 rows

In [19]:
# Verificando a existência de dados Null ou NaN
verificar_val_null(df_endereco)

+--------------+----+-------+------------------+------------------+------------------+------------------+-----+--------+
|Address Number|City|Country|Customer Address 1|Customer Address 2|Customer Address 3|Customer Address 4|State|Zip Code|
+--------------+----+-------+------------------+------------------+------------------+------------------+-----+--------+
|             0|   0|      0|                 0|                 0|                 0|                 0|    0|       0|
+--------------+----+-------+------------------+------------------+------------------+------------------+-----+--------+

In [20]:
df_vendas.show()

+--------------------+-----------+----------+---------------+------------+--------------+----------+-----------+--------------------+-----------+----------+------------+----------------------+------------+--------------------------------+-----------------+-------------------+-----------+--------------+---------+---+
|Actual Delivery Date|CustomerKey|   DateKey|Discount Amount|Invoice Date|Invoice Number|Item Class|Item Number|                Item|Line Number|List Price|Order Number|Promised Delivery Date|Sales Amount|Sales Amount Based on List Price|Sales Cost Amount|Sales Margin Amount|Sales Price|Sales Quantity|Sales Rep|U/M|
+--------------------+-----------+----------+---------------+------------+--------------+----------+-----------+--------------------+-----------+----------+------------+----------------------+------------+--------------------------------+-----------------+-------------------+-----------+--------------+---------+---+
|          28/04/2019|   10000481|28/04/2018|        -237,91|  30/04/2018|        100012|      null|       null|    Urban Large Eggs|       2000|         0|      200015|            28/04/2019|      237,91|                               0|                0|             237,91|     237,91|             1|      184| EA|
|          12/07/2019|   10002220|12/07/2018|         368,79|  14/07/2018|        100233|       P01|      20910|  Moms Sliced Turkey|       1000|    824,96|      200245|            12/07/2019|      456,17|                          824,96|                0|             456,17|     456,17|             1|      127| EA|
|          14/10/2019|   10002220|15/10/2018|         109,73|  17/10/2018|        116165|       P01|      38076|Cutting Edge Foot...|       1000|    548,66|      213157|            14/10/2019|      438,93|                          548,66|                0|             438,93|     438,93|             1|      127| EA|
|          01/06/2019|   10002489|01/06/2018|        -211,75|  03/06/2018|        100096|      null|       null|            Kiwi Lox|       1000|         0|      200107|            01/06/2019|      211,75|                               0|                0|             211,75|     211,75|             1|      160| EA|
|          26/05/2019|   10004516|25/05/2018|       96627,94|  27/05/2018|        103341|       P01|      60776|High Top Sweet Onion|       1000|    408,52|      203785|            26/05/2019|    89248,66|                        185876,6|                0|           89248,66|196,1509011|           455|      124| SE|
|          28/05/2019|   10004516|28/05/2018|          -1950|  30/05/2018|        103610|      null|       null|Best Choice Fudge...|       2000|         0|      203785|            28/05/2019|        1950|                               0|                0|               1950|       1950|             1|      124| EA|
|          01/09/2019|   10007866|01/09/2018|        371,014|  03/09/2018|        100403|       P01|      20910|  Moms Sliced Turkey|       2000|   795,314|      200436|            01/09/2019|       424,3|                         795,314|                0|              424,3|      424,3|             1|      149| EA|
|          16/06/2019|   10009356|16/06/2018|         608,08|  18/06/2018|        105481|       P01|      62550|    Tell Tale Garlic|      29000|       575|      205213|            16/06/2019|      541,92|                            1150|                0|             541,92|     270,96|             2|      103| EA|
|          16/06/2019|   10009356|16/06/2018|          424,8|  18/06/2018|        105481|       P01|      60794|    High Top Walnuts|      18000|     51,88|      205213|            16/06/2019|       353,4|                           778,2|                0|              353,4|      23,56|            15|      103| EA|
|          16/06/2019|   10009356|16/06/2018|        13492,8|  18/06/2018|        105481|       P01|      36001|Big Time Frozen C...|       9000|    412,03|      205213|            16/06/2019|       11229|                         24721,8|                0|              11229|     187,15|            60|      103| EA|
|          16/06/2019|   10009356|16/06/2018|        10481,1|  18/06/2018|        105481|       P01|      38076|Cutting Edge Foot...|      13000|    548,66|      205213|            16/06/2019|        8722|                         19203,1|                0|               8722|      249,2|            35|      103| EA|
|          16/06/2019|   10009356|16/06/2018|       404,1465|  18/06/2018|        105481|       P01|      61484|Super Creamy Pean...|      37000|   50,5051|      205213|            16/06/2019|      353,43|                        757,5765|                0|             353,43|     23,562|            15|      103| EA|
|          14/09/2019|   10009606|14/09/2018|      1287,3476|  16/09/2018|        100445|       P01|      17801|Better Fancy Cann...|       3000| 1379,7938|      200478|            14/09/2019|     1472,24|                       2759,5876|                0|            1472,24|     736,12|             2|      118| EA|
|          14/09/2019|   10009606|14/09/2018|        4764,33|  16/09/2018|        100445|       P01|      48500|Red Spade Low Fat...|       1000|   1134,77|      200478|            14/09/2019|      5448,6|                        10212,93|                0|             5448,6|      605,4|             9|      118| EA|
|          04/06/2019|   10009633|08/06/2018|        -526,64|  10/06/2018|        104708|      null|      38631|    Jumbo Large Eggs|       1000|         0|      204575|            04/06/2019|      526,64|                               0|                0|             526,64|     526,64|             1|      127| EA|
|          16/08/2019|   10009633|18/08/2018|              0|  20/08/2018|        100379|       P01|      60449|High Top Corn on ...|       1000|    346,53|      200397|            16/08/2019|      346,53|                          346,53|                0|             346,53|     346,53|             1|      127| EA|
|          12/11/2019|   10009645|15/11/2018|              0|  17/11/2018|        100684|      null|      61801|Moms Low Fat Bologna|       2000|    258,01|      200733|            12/11/2019|     3096,12|                         3096,12|                0|            3096,12|     258,01|            12|      155| EA|
|          12/05/2019|   10009652|12/05/2018|             91|  14/05/2018|        102256|      null|      63113|Landslide Columbi...|       1000|      5,61|      202989|            12/05/2019|      1872,5|                          1963,5|                0|             1872,5|       5,35|           350|      145| EA|
|          12/05/2019|   10009652|12/05/2018|           -700|  14/05/2018|        102256|      null|       null|High Top Dried Mu...|       2000|         0|      202989|            12/05/2019|         700|                               0|                0|                700|          2|           350|      145| EA|
|          04/11/2019|   10009907|04/11/2018|          786,6|  06/11/2018|        117815|       P01|      38050|Gorilla Chocolate...|       2000|    301,23|      200706|            04/11/2019|      418,32|                         1204,92|                0|             418,32|     104,58|             4|      167| EA|
+--------------------+-----------+----------+---------------+------------+--------------+----------+-----------+--------------------+-----------+----------+------------+----------------------+------------+--------------------------------+-----------------+-------------------+-----------+--------------+---------+---+
only showing top 20 rows

In [21]:
df_vendas.printSchema()

root
 |-- Actual Delivery Date: string (nullable = true)
 |-- CustomerKey: integer (nullable = true)
 |-- DateKey: string (nullable = true)
 |-- Discount Amount: string (nullable = true)
 |-- Invoice Date: string (nullable = true)
 |-- Invoice Number: integer (nullable = true)
 |-- Item Class: string (nullable = true)
 |-- Item Number: string (nullable = true)
 |-- Item: string (nullable = true)
 |-- Line Number: integer (nullable = true)
 |-- List Price: string (nullable = true)
 |-- Order Number: integer (nullable = true)
 |-- Promised Delivery Date: string (nullable = true)
 |-- Sales Amount: string (nullable = true)
 |-- Sales Amount Based on List Price: string (nullable = true)
 |-- Sales Cost Amount: string (nullable = true)
 |-- Sales Margin Amount: string (nullable = true)
 |-- Sales Price: string (nullable = true)
 |-- Sales Quantity: integer (nullable = true)
 |-- Sales Rep: integer (nullable = true)
 |-- U/M: string (nullable = true)

In [22]:
# Verificando a existência de dados Null ou NaN
verificar_val_null(df_vendas)

+--------------------+-----------+-------+---------------+------------+--------------+----------+-----------+----+-----------+----------+------------+----------------------+------------+--------------------------------+-----------------+-------------------+-----------+--------------+---------+---+
|Actual Delivery Date|CustomerKey|DateKey|Discount Amount|Invoice Date|Invoice Number|Item Class|Item Number|Item|Line Number|List Price|Order Number|Promised Delivery Date|Sales Amount|Sales Amount Based on List Price|Sales Cost Amount|Sales Margin Amount|Sales Price|Sales Quantity|Sales Rep|U/M|
+--------------------+-----------+-------+---------------+------------+--------------+----------+-----------+----+-----------+----------+------------+----------------------+------------+--------------------------------+-----------------+-------------------+-----------+--------------+---------+---+
|                 253|        253|    253|            255|         253|           253|      8542|        294| 253|        253|       253|         253|                   253|         253|                             253|              253|                253|        254|           253|      253|253|
+--------------------+-----------+-------+---------------+------------+--------------+----------+-----------+----+-----------+----------+------------+----------------------+------------+--------------------------------+-----------------+-------------------+-----------+--------------+---------+---+

In [23]:
'''
É possivel verificar que algumas linhas possuem todos os campos nulos, logo, iremos deletar todas estas linhas. Para selecionar
as linhas onde todos os campos são nulos, basta verificar as 3 primeiras colunas.
'''
df_vendas.filter(((col("Actual Delivery Date").isNull()) & (col("CustomerKey").isNull()) & (col("DateKey").isNull()))).show(5)

+--------------------+-----------+-------+---------------+------------+--------------+----------+-----------+----+-----------+----------+------------+----------------------+------------+--------------------------------+-----------------+-------------------+-----------+--------------+---------+----+
|Actual Delivery Date|CustomerKey|DateKey|Discount Amount|Invoice Date|Invoice Number|Item Class|Item Number|Item|Line Number|List Price|Order Number|Promised Delivery Date|Sales Amount|Sales Amount Based on List Price|Sales Cost Amount|Sales Margin Amount|Sales Price|Sales Quantity|Sales Rep| U/M|
+--------------------+-----------+-------+---------------+------------+--------------+----------+-----------+----+-----------+----------+------------+----------------------+------------+--------------------------------+-----------------+-------------------+-----------+--------------+---------+----+
|                null|       null|   null|           null|        null|          null|      null|       null|null|       null|      null|        null|                  null|        null|                            null|             null|               null|       null|          null|     null|null|
|                null|       null|   null|           null|        null|          null|      null|       null|null|       null|      null|        null|                  null|        null|                            null|             null|               null|       null|          null|     null|null|
|                null|       null|   null|           null|        null|          null|      null|       null|null|       null|      null|        null|                  null|        null|                            null|             null|               null|       null|          null|     null|null|
|                null|       null|   null|           null|        null|          null|      null|       null|null|       null|      null|        null|                  null|        null|                            null|             null|               null|       null|          null|     null|null|
|                null|       null|   null|           null|        null|          null|      null|       null|null|       null|      null|        null|                  null|        null|                            null|             null|               null|       null|          null|     null|null|
+--------------------+-----------+-------+---------------+------------+--------------+----------+-----------+----+-----------+----------+------------+----------------------+------------+--------------------------------+-----------------+-------------------+-----------+--------------+---------+----+
only showing top 5 rows

In [24]:
# Removendo do dataframe todas as linhas que possuem todos os campos nulos
df_vendas = df_vendas.filter(((col("Actual Delivery Date").isNotNull())\
                              & (col("CustomerKey").isNotNull())\
                              & (col("DateKey").isNotNull())))

In [25]:
# Verificando novamente a existência de dados Null ou NaN para visualizar se as linhas nulas foram removidas
verificar_val_null(df_vendas)

+--------------------+-----------+-------+---------------+------------+--------------+----------+-----------+----+-----------+----------+------------+----------------------+------------+--------------------------------+-----------------+-------------------+-----------+--------------+---------+---+
|Actual Delivery Date|CustomerKey|DateKey|Discount Amount|Invoice Date|Invoice Number|Item Class|Item Number|Item|Line Number|List Price|Order Number|Promised Delivery Date|Sales Amount|Sales Amount Based on List Price|Sales Cost Amount|Sales Margin Amount|Sales Price|Sales Quantity|Sales Rep|U/M|
+--------------------+-----------+-------+---------------+------------+--------------+----------+-----------+----+-----------+----------+------------+----------------------+------------+--------------------------------+-----------------+-------------------+-----------+--------------+---------+---+
|                   0|          0|      0|              2|           0|             0|      8289|         41|   0|          0|         0|           0|                     0|           0|                               0|                0|                  0|          1|             0|        0|  0|
+--------------------+-----------+-------+---------------+------------+--------------+----------+-----------+----+-----------+----------+------------+----------------------+------------+--------------------------------+-----------------+-------------------+-----------+--------------+---------+---+

In [26]:
'''
df_vendas = converter_tipo_coluna(df_vendas, 'Item Number', 'int')

cols_dates = ['Actual Delivery Date', 'DateKey', 'Invoice Date', 'Promised Delivery Date']

for col_name_data in cols_dates:
    df_vendas = df_vendas.withColumn(col_name_data, to_date(col(col_name_data),"dd/MM/yyyy"))

    
# O separador decimal utilizado na base de dados é a virgula, logo, precisamos alteralo para o ponto. E aproveitando o loop 
# vamos relizar o cast
col_lis = ['Discount Amount', 'List Price', 'Sales Amount', 'Sales Amount Based on List Price',\
           'Sales Cost Amount', 'Sales Margin Amount', 'Sales Price']

for coluna in col_lis:
    df_vendas = df_vendas.withColumn(coluna, round(regexp_replace(coluna,'\,','.').cast('double'), 2))'''

'\ndf_vendas = converter_tipo_coluna(df_vendas, \'Item Number\', \'int\')\n\ncols_dates = [\'Actual Delivery Date\', \'DateKey\', \'Invoice Date\', \'Promised Delivery Date\']\n\nfor col_name_data in cols_dates:\n    df_vendas = df_vendas.withColumn(col_name_data, to_date(col(col_name_data),"dd/MM/yyyy"))\n\n    \n# O separador decimal utilizado na base de dados é a virgula, logo, precisamos alteralo para o ponto. E aproveitando o loop \n# vamos relizar o cast\ncol_lis = [\'Discount Amount\', \'List Price\', \'Sales Amount\', \'Sales Amount Based on List Price\',           \'Sales Cost Amount\', \'Sales Margin Amount\', \'Sales Price\']\n\nfor coluna in col_lis:\n    df_vendas = df_vendas.withColumn(coluna, round(regexp_replace(coluna,\'\\,\',\'.\').cast(\'double\'), 2))'

In [27]:
# Antes de continuar com limpeza dos dados vamos corrigir as colunas que estão com os tipos errados de dados
df_vendas = converter_tipo_coluna(df_vendas, 'Item Number', 'int')

cols_dates = ['Actual Delivery Date', 'DateKey', 'Invoice Date', 'Promised Delivery Date']

for col_name_data in cols_dates:
    df_vendas = df_vendas.withColumn(col_name_data, to_date(col(col_name_data),"dd/MM/yyyy"))

    
# O separador decimal utilizado na base de dados é a virgula, logo, precisamos alteralo para o ponto. E aproveitando o loop 
# vamos relizar o cast
col_lis = ['Discount Amount', 'List Price', 'Sales Amount', 'Sales Amount Based on List Price',\
           'Sales Cost Amount', 'Sales Margin Amount', 'Sales Price']

for coluna in col_lis:
    df_vendas = df_vendas.withColumn(coluna, round(regexp_replace(coluna,'\,','.').cast('double'), 2))

In [28]:
# Realizando a limpeza dos dados que são nulos na tabela

df_vendas = corrigir_dados_null(df_vendas)

In [29]:
# Verificando novamente a existência de dados Null ou NaN para visualizar se as linhas nulas foram removidas
verificar_val_null(df_vendas)

+--------------------+-----------+-------+---------------+------------+--------------+----------+-----------+----+-----------+----------+------------+----------------------+------------+--------------------------------+-----------------+-------------------+-----------+--------------+---------+---+
|Actual Delivery Date|CustomerKey|DateKey|Discount Amount|Invoice Date|Invoice Number|Item Class|Item Number|Item|Line Number|List Price|Order Number|Promised Delivery Date|Sales Amount|Sales Amount Based on List Price|Sales Cost Amount|Sales Margin Amount|Sales Price|Sales Quantity|Sales Rep|U/M|
+--------------------+-----------+-------+---------------+------------+--------------+----------+-----------+----+-----------+----------+------------+----------------------+------------+--------------------------------+-----------------+-------------------+-----------+--------------+---------+---+
|                   0|          0|      0|              0|           0|             0|         0|          0|   0|          0|         0|           0|                     0|           0|                               0|                0|                  0|          0|             0|        0|  0|
+--------------------+-----------+-------+---------------+------------+--------------+----------+-----------+----+-----------+----------+------------+----------------------+------------+--------------------------------+-----------------+-------------------+-----------+--------------+---------+---+

In [30]:
df_vendas.show(5)

+--------------------+-----------+----------+---------------+------------+--------------+-------------+-----------+--------------------+-----------+----------+------------+----------------------+------------+--------------------------------+-----------------+-------------------+-----------+--------------+---------+---+
|Actual Delivery Date|CustomerKey|   DateKey|Discount Amount|Invoice Date|Invoice Number|   Item Class|Item Number|                Item|Line Number|List Price|Order Number|Promised Delivery Date|Sales Amount|Sales Amount Based on List Price|Sales Cost Amount|Sales Margin Amount|Sales Price|Sales Quantity|Sales Rep|U/M|
+--------------------+-----------+----------+---------------+------------+--------------+-------------+-----------+--------------------+-----------+----------+------------+----------------------+------------+--------------------------------+-----------------+-------------------+-----------+--------------+---------+---+
|          2019-04-28|   10000481|2018-04-28|        -237.91|  2018-04-30|        100012|NÃO INFORMADO|          0|    Urban Large Eggs|       2000|       0.0|      200015|            2019-04-28|      237.91|                             0.0|              0.0|             237.91|     237.91|             1|      184| EA|
|          2019-07-12|   10002220|2018-07-12|         368.79|  2018-07-14|        100233|          P01|      20910|  Moms Sliced Turkey|       1000|    824.96|      200245|            2019-07-12|      456.17|                          824.96|              0.0|             456.17|     456.17|             1|      127| EA|
|          2019-10-14|   10002220|2018-10-15|         109.73|  2018-10-17|        116165|          P01|      38076|Cutting Edge Foot...|       1000|    548.66|      213157|            2019-10-14|      438.93|                          548.66|              0.0|             438.93|     438.93|             1|      127| EA|
|          2019-06-01|   10002489|2018-06-01|        -211.75|  2018-06-03|        100096|NÃO INFORMADO|          0|            Kiwi Lox|       1000|       0.0|      200107|            2019-06-01|      211.75|                             0.0|              0.0|             211.75|     211.75|             1|      160| EA|
|          2019-05-26|   10004516|2018-05-25|       96627.94|  2018-05-27|        103341|          P01|      60776|High Top Sweet Onion|       1000|    408.52|      203785|            2019-05-26|    89248.66|                        185876.6|              0.0|           89248.66|     196.15|           455|      124| SE|
+--------------------+-----------+----------+---------------+------------+--------------+-------------+-----------+--------------------+-----------+----------+------------+----------------------+------------+--------------------------------+-----------------+-------------------+-----------+--------------+---------+---+
only showing top 5 rows

In [31]:
df_vendas.printSchema()

root
 |-- Actual Delivery Date: date (nullable = true)
 |-- CustomerKey: integer (nullable = true)
 |-- DateKey: date (nullable = true)
 |-- Discount Amount: double (nullable = true)
 |-- Invoice Date: date (nullable = true)
 |-- Invoice Number: integer (nullable = true)
 |-- Item Class: string (nullable = true)
 |-- Item Number: integer (nullable = true)
 |-- Item: string (nullable = true)
 |-- Line Number: integer (nullable = true)
 |-- List Price: double (nullable = true)
 |-- Order Number: integer (nullable = true)
 |-- Promised Delivery Date: date (nullable = true)
 |-- Sales Amount: double (nullable = true)
 |-- Sales Amount Based on List Price: double (nullable = true)
 |-- Sales Cost Amount: double (nullable = true)
 |-- Sales Margin Amount: double (nullable = true)
 |-- Sales Price: double (nullable = true)
 |-- Sales Quantity: integer (nullable = true)
 |-- Sales Rep: integer (nullable = true)
 |-- U/M: string (nullable = true)

In [32]:
'''
5 - efetuar as responder as perguntas:

- quantos pedidos foram realizados
- quantos clientes tem em nossa base
- quantos clientes temos por Região
- quantidade de vendas em 2018
'''

# Criando as views:
df_endereco.createOrReplaceTempView('vw_endereco')
df_divisao.createOrReplaceTempView('vw_divisao')
df_clientes.createOrReplaceTempView('vw_clientes')
df_vendas.createOrReplaceTempView('vw_vendas')
df_regiao.createOrReplaceTempView('vw_regiao')

In [33]:
# Intervalo minimo de datas necessária para criação do DW
spark.sql('''
        SELECT MIN(DateKey), MAX(DateKey) FROM vw_vendas
''').show()

+------------+------------+
|min(DateKey)|max(DateKey)|
+------------+------------+
|  2017-01-09|  2019-03-18|
+------------+------------+

In [34]:
df_data_ST = spark.sql('''
                SELECT 
                EXPLODE(SEQUENCE(TO_DATE('2017-01-09'), TO_DATE('2019-03-18'), INTERVAL 1 DAY)) as DateKey''')

df_data_ST.show(2)

+----------+
|   DateKey|
+----------+
|2017-01-09|
|2017-01-10|
+----------+
only showing top 2 rows

In [35]:
df_time_ST = spark.sql('''
                SELECT
                DateKey,
                DAY(DateKey) AS Day, 
                MONTH(DateKey) AS Month,
                DATE_FORMAT(DateKey,"MMMM") AS Month_Name,
                YEAR(DateKey) as Year,
                QUARTER(DateKey) as Quarter
                FROM(
                SELECT 
                EXPLODE(SEQUENCE(TO_DATE('2017-01-09'), TO_DATE('2019-03-18'), INTERVAL 1 DAY)) as DateKey)''')


df_time_ST.createOrReplaceTempView('vw_time_ST')

In [36]:
# Desnormalizando os dados (apenas com as colunas de interesse):

# Junção das tabelas df_cliente, df_divisao e df_regiao
df_clientes_ST = spark.sql('''
            SELECT 
            vw_clientes.CustomerKey,
            vw_clientes.Customer,
            vw_clientes.`Business Family` as Business_Family,
            vw_clientes.`Customer Type` as Customer_Type,
            vw_clientes.`Address Number` as Address_Number,
            vw_divisao.`Division Name` as Division_Name,
            vw_regiao.`Region Name` as Region_Name          
            FROM vw_clientes
            INNER JOIN vw_divisao
            ON vw_clientes.`Division` = vw_divisao.`Division`
            INNER JOIN vw_regiao
            ON vw_clientes.`Region Code` = vw_regiao.`Region Code`
''')
df_clientes_ST.createOrReplaceTempView('vw_clientes_ST')
# df_clientes_ST.filter(col('CustomerKey') == '10013312').show()

In [37]:
spark.sql('''
            SELECT *  
            FROM vw_clientes_ST
            where CustomerKey = '10021911' 
        ''').show()

+-----------+---------+---------------+-------------+--------------+-------------+-----------+
|CustomerKey| Customer|Business_Family|Customer_Type|Address_Number|Division_Name|Region_Name|
+-----------+---------+---------------+-------------+--------------+-------------+-----------+
|   10021911|PING Shop|             R3|           G1|      10021911|     Domestic|   Southern|
+-----------+---------+---------------+-------------+--------------+-------------+-----------+

In [38]:
# Analise do resultado do Join
# df_clientes_ST.select(col('Customer_Type')).distinct().show()
#df_clientes_ST.show(5)
verificar_val_null(df_clientes_ST)

+-----------+--------+---------------+-------------+--------------+-------------+-----------+
|CustomerKey|Customer|Business_Family|Customer_Type|Address_Number|Division_Name|Region_Name|
+-----------+--------+---------------+-------------+--------------+-------------+-----------+
|          0|       0|              0|            0|             0|            0|          0|
+-----------+--------+---------------+-------------+--------------+-------------+-----------+

In [39]:
# Desnormalizando os dados 
# Junção das tabelas df_clientes_ST e df_endereco
df_clientes_endereco_ST = spark.sql('''
            SELECT 
            vw_clientes_ST.CustomerKey,
            vw_clientes_ST.Customer,
            vw_clientes_ST.Business_Family,
            vw_clientes_ST.Customer_Type,
            vw_clientes_ST.Address_Number,
            vw_clientes_ST.Division_Name,
            vw_clientes_ST.Region_Name, 
            
            
            vw_endereco.City,
            vw_endereco.State,
            vw_endereco.Country
            
            FROM vw_clientes_ST
            LEFT JOIN vw_endereco
            ON vw_clientes_ST.Address_Number = vw_endereco.`Address Number`
''')

In [40]:
verificar_val_null(df_clientes_endereco_ST)

+-----------+--------+---------------+-------------+--------------+-------------+-----------+----+-----+-------+
|CustomerKey|Customer|Business_Family|Customer_Type|Address_Number|Division_Name|Region_Name|City|State|Country|
+-----------+--------+---------------+-------------+--------------+-------------+-----------+----+-----+-------+
|          0|       0|              0|            0|             0|            0|          0| 229|  229|    229|
+-----------+--------+---------------+-------------+--------------+-------------+-----------+----+-----+-------+

In [41]:
df_clientes_endereco_ST = corrigir_dados_null(df_clientes_endereco_ST)

df_clientes_endereco_ST.createOrReplaceTempView('vw_clientes_endereco_ST')

In [42]:
verificar_val_null(df_clientes_endereco_ST)

+-----------+--------+---------------+-------------+--------------+-------------+-----------+----+-----+-------+
|CustomerKey|Customer|Business_Family|Customer_Type|Address_Number|Division_Name|Region_Name|City|State|Country|
+-----------+--------+---------------+-------------+--------------+-------------+-----------+----+-----+-------+
|          0|       0|              0|            0|             0|            0|          0|   0|    0|      0|
+-----------+--------+---------------+-------------+--------------+-------------+-----------+----+-----+-------+

In [43]:
df_tabela_desnormalizada_ST = spark.sql('''
            SELECT 
            
            vw_vendas.DateKey,
            vw_vendas.`Discount Amount` as Discount_Amount,
            vw_vendas.`Sales Cost Amount` as Sales_Cost_Amount,
            vw_vendas.`Sales Price` as Sales_Price, 
            vw_vendas.`Sales Quantity` as Sales_Quantity,
            
            
            vw_clientes_endereco_ST.CustomerKey,
            vw_clientes_endereco_ST.Customer,
            vw_clientes_endereco_ST.Business_Family,
            vw_clientes_endereco_ST.Customer_Type,
            
            
            vw_clientes_endereco_ST.Address_Number,
            vw_clientes_endereco_ST.Division_Name,
            vw_clientes_endereco_ST.Region_Name,
            vw_clientes_endereco_ST.City,
            vw_clientes_endereco_ST.State,
            vw_clientes_endereco_ST.Country,
            
            vw_time_ST.Day, 
            vw_time_ST.Month,
            vw_time_ST.Month_Name,
            vw_time_ST.Year,
            vw_time_ST.Quarter
            
            
            FROM vw_vendas
            LEFT JOIN vw_clientes_endereco_ST
            ON vw_vendas.CustomerKey = vw_clientes_endereco_ST.CustomerKey
            LEFT JOIN vw_time_ST
            ON vw_vendas.DateKey = vw_time_ST.DateKey
''')

In [44]:
# Criando as HASH para cada dimensão:
df_tabela_desnormalizada_ST = df_tabela_desnormalizada_ST.withColumn('sk_Customer',
                                                                     sha2(concat_ws('',df_tabela_desnormalizada_ST.CustomerKey, 
                                                                                    df_tabela_desnormalizada_ST.Customer,
                                                                                    df_tabela_desnormalizada_ST.Business_Family,
                                                                                    df_tabela_desnormalizada_ST.Customer_Type),
                                                                          256))

df_tabela_desnormalizada_ST = df_tabela_desnormalizada_ST.withColumn('sk_Locality',
                                                                     sha2(concat_ws('',df_tabela_desnormalizada_ST.Address_Number, 
                                                                                    df_tabela_desnormalizada_ST.Division_Name,
                                                                                    df_tabela_desnormalizada_ST.City,
                                                                                    df_tabela_desnormalizada_ST.State,
                                                                                    df_tabela_desnormalizada_ST.Country),
                                                                          256))

df_tabela_desnormalizada_ST = df_tabela_desnormalizada_ST.withColumn('sk_Time',
                                                                     sha2(concat_ws('',df_tabela_desnormalizada_ST.DateKey,
                                                                                    df_tabela_desnormalizada_ST.Day, 
                                                                                    df_tabela_desnormalizada_ST.Month,
                                                                                    df_tabela_desnormalizada_ST.Month_Name,
                                                                                    df_tabela_desnormalizada_ST.Year,
                                                                                    df_tabela_desnormalizada_ST.Quarter),
                                                                          256))

In [45]:
df_tabela_desnormalizada_ST.createOrReplaceTempView('vw_tabela_desnormalizada_ST')

In [46]:
# df_tabela_desnormalizada_ST.show(50)
verificar_val_null(df_tabela_desnormalizada_ST)

+-------+---------------+-----------------+-----------+--------------+-----------+--------+---------------+-------------+--------------+-------------+-----------+----+-----+-------+---+-----+----------+----+-------+-----------+-----------+-------+
|DateKey|Discount_Amount|Sales_Cost_Amount|Sales_Price|Sales_Quantity|CustomerKey|Customer|Business_Family|Customer_Type|Address_Number|Division_Name|Region_Name|City|State|Country|Day|Month|Month_Name|Year|Quarter|sk_Customer|sk_Locality|sk_Time|
+-------+---------------+-----------------+-----------+--------------+-----------+--------+---------------+-------------+--------------+-------------+-----------+----+-----+-------+---+-----+----------+----+-------+-----------+-----------+-------+
|      0|              0|                0|          0|             0|          0|       0|              0|            0|             0|            0|          0|   0|    0|      0|  0|    0|         0|   0|      0|          0|          0|      0|
+-------+---------------+-----------------+-----------+--------------+-----------+--------+---------------+-------------+--------------+-------------+-----------+----+-----+-------+---+-----+----------+----+-------+-----------+-----------+-------+

In [47]:
# Verificando se o tamanho da tabela desnormalizada bate com o tamanho da tbaela vendas
df_tabela_desnormalizada_ST.count() == df_vendas.count()

True

In [48]:
df_tabela_desnormalizada_ST.select('CustomerKey').distinct().count() == df_tabela_desnormalizada_ST.select('sk_Customer').distinct().count()

True

In [49]:
df_tabela_desnormalizada_ST.select('sk_Customer', 'sk_Locality').distinct().show()

+--------------------+--------------------+
|         sk_Customer|         sk_Locality|
+--------------------+--------------------+
|3e298f94d6109a0f5...|d188501b3332ec703...|
|06838117b937aa0a5...|a4516f1bae1fe8778...|
|3f65ca39da17bc6d5...|e55a9e5ba54fef512...|
|09f16ff31a0ddfd59...|7cdd8a675f320b72e...|
|3dbbc94b53c79bad3...|8e48ecee8b41696a0...|
|0ab5562a7a91a6101...|1066c93128c2a79b2...|
|f5e4d100cd36bfd2b...|c62f63735fdd734b8...|
|96f38e9ea126293a4...|4ac7c150622e18ca8...|
|63dcf56c416790b8a...|c2ac1490e5f9d551b...|
|08ca84041156cefd0...|d144517c771d1f11f...|
|bf82488f3e2393fbd...|6ed1be2a18b2234dd...|
|7478cc2f69a317d96...|4c1108e0d756da268...|
|2bf338ef508cf678e...|708d4032cda0e9323...|
|1fa4d6795bf59266c...|acb2a70736f220417...|
|8d094ef91c817aa37...|d7e35e4ba371ec9ec...|
|209c3a0734cba9742...|463329411eb8506c6...|
|e980f59bb3634fa88...|33eb172e548a424c8...|
|ad6de235bc508e236...|5c211883c8e45b9cb...|
|97d4eed9f41df5e95...|bed88fd06080bb8db...|
|6638877cadd81c759...|bdb64c83ba637cc90...|
+--------------------+--------------------+
only showing top 20 rows

In [56]:
# Criando as tabelas de dimensões:

DIM_Customer = spark.sql('''
            SELECT 
            DISTINCT sk_Customer,
            CustomerKey,
            Customer,
            Business_Family as `Business Family`,
            Customer_Type as `Customer Type`
            FROM vw_tabela_desnormalizada_ST
''')

DIM_Customer.show()

+--------------------+-----------+-------------------+---------------+-------------+
|         sk_Customer|CustomerKey|           Customer|Business Family|Customer Type|
+--------------------+-----------+-------------------+---------------+-------------+
|4e7366b435f2c93e7...|   10006862|     BL Supermarket|             R3|           G2|
|8aafc4ff103f73cb3...|   10010906|        ediSys Shop|             R3|           G2|
|6638877cadd81c759...|   10019682|       Lamson Store|             R3|           G2|
|078de160cc8f5fa19...|   10000462|           a2i Shop|             R3|           G2|
|944a0a120cb8f960a...|   10013341|Gatierf Supermarket|             R2|           G2|
|da0d246737e33c22e...|   10024010|   Screaming Market|             R2|           G2|
|cd13b37c077c1ccd8...|   10021204|      Pacific Store|             R1|           G3|
|cdac8768b50915fc7...|   10001818|    Acc Supermarket|             R3|           G2|
|9153843541d62bbad...|   10003857|     Beckman Market|             R3|           G2|
|aa8d6fea7f6508707...|   10027583|          zNET Shop|             R2|           G2|
|0e7badbccaf223810...|   10019952|     Lobster Market|             O2|           G2|
|a52d73af75345059f...|   10019665| Labatt Supermarket|             R3|           G2|
|ab397ff5c5f8154fb...|   10017072|     Iconation Shop|             R3|           G2|
|c950df16489e86df1...|   10002144|      ACCUCOMP Shop|             R2|           G3|
|19c6c68c57a514f50...|   10027560|         Zilog Shop|             R2|           G2|
|1989e9eb834936c63...|   10007566|        Cambio Shop|             R2|           G2|
|7e74c86d0555d39b0...|   10009650|       Dayton Store|             R3|           G1|
|e980f59bb3634fa88...|   10016609|   Homestead Market|             R1|           G3|
|e458c73abf5d56591...|   10013426|           GDC Shop|             R3|           G2|
|5f7688d9b6b1a4df2...|   10019410|     Keystone Store|             R1|           G3|
+--------------------+-----------+-------------------+---------------+-------------+
only showing top 20 rows

In [51]:
DIM_Customer.count()

615

In [57]:
DIM_Time = spark.sql('''
            SELECT 
            DISTINCT sk_Time,
            DateKey,
            Day, 
            Month,
            Month_Name as `Month Name`,
            Year,
            Quarter
            FROM vw_tabela_desnormalizada_ST
''')

DIM_Time.show()

+--------------------+----------+---+-----+----------+----+-------+
|             sk_Time|   DateKey|Day|Month|Month Name|Year|Quarter|
+--------------------+----------+---+-----+----------+----+-------+
|a77297494f6f82177...|2017-04-17| 17|    4|     April|2017|      2|
|fe429bd12137a1d73...|2017-08-04|  4|    8|    August|2017|      3|
|9a8c38a902a9d3064...|2017-01-29| 29|    1|   January|2017|      1|
|ea1c90a850698457f...|2018-04-15| 15|    4|     April|2018|      2|
|6d8f50d1bf1efb54e...|2018-04-19| 19|    4|     April|2018|      2|
|bc611cbc38f0c8006...|2018-03-05|  5|    3|     March|2018|      1|
|5f6a4144632929d63...|2018-08-25| 25|    8|    August|2018|      3|
|12517115522c67574...|2018-08-31| 31|    8|    August|2018|      3|
|3155d39794ac2712f...|2018-11-11| 11|   11|  November|2018|      4|
|4144b2794ba6022d7...|2018-04-09|  9|    4|     April|2018|      2|
|26579ac5f07760a20...|2017-08-28| 28|    8|    August|2017|      3|
|646184059f72380e1...|2017-09-18| 18|    9| September|2017|      3|
|acec0baa8274a597b...|2017-10-13| 13|   10|   October|2017|      4|
|5f4ff2d6f3d0b3d6c...|2019-01-12| 12|    1|   January|2019|      1|
|8be283d1a16dce940...|2017-06-12| 12|    6|      June|2017|      2|
|70c16c259458f7d8c...|2018-12-10| 10|   12|  December|2018|      4|
|06868c69a8c35bc44...|2018-05-19| 19|    5|       May|2018|      2|
|bd80e4cc5ca1ed249...|2018-01-19| 19|    1|   January|2018|      1|
|2b64590d2dee1e679...|2018-09-06|  6|    9| September|2018|      3|
|a9b38d4eedd2ac889...|2017-03-27| 27|    3|     March|2017|      1|
+--------------------+----------+---+-----+----------+----+-------+
only showing top 20 rows

In [53]:
# 798
DIM_Time.count()

558

In [58]:
DIM_Locality = spark.sql('''
            SELECT 
            DISTINCT sk_Locality,
            Address_Number as `Address Number`,
            Division_Name as `Division Name`,
            Region_Name as `Region Name`,
            City,
            State,
            Country
            FROM vw_tabela_desnormalizada_ST
''')

DIM_Locality.show()

+--------------------+--------------+-------------+-------------+----------------+-------------+-------------+
|         sk_Locality|Address Number|Division Name|  Region Name|            City|        State|      Country|
+--------------------+--------------+-------------+-------------+----------------+-------------+-------------+
|bacccbe2ff48d486c...|      10022249|     Domestic|     Southern|          Shelby|           NC|           US|
|802d3fb155f4d17fb...|      10025267|International|International|   NÃO INFORMADO|NÃO INFORMADO|NÃO INFORMADO|
|e80b13f4f9859a065...|      10021936|     Domestic|     Southern|      Louisville|           KY|           US|
|219d7277344b4e0da...|      10016780|International|International|   NÃO INFORMADO|NÃO INFORMADO|NÃO INFORMADO|
|86896dceeb0ac4bb8...|      10016549|     Domestic|     Southern|    Jacksonville|           FL|           US|
|0e57c5957d600560a...|      10025291|     Domestic|      Central|           Dover|           OH|           US|
|8e1ff1f3a2587b56f...|      10025571|     Domestic|      Central|      Des Moines|           IA|           US|
|e3d8f296d2d24b101...|      10027356|     Domestic|      Central|    Grand Rapids|           MN|           US|
|44bdcc26fb5437aef...|      10000455|     Domestic|      Western|Huntington Beach|           CA|           US|
|1f5392c4e4d2ad606...|      10009653|International|       Canada|     Mississauga|           ON|           CA|
|6d37ab7eb880e7830...|      10021485|     Domestic|      Central|           Hamel|           MN|           US|
|2292846f66ffab7c6...|      10007309|International|International|   NÃO INFORMADO|NÃO INFORMADO|           UK|
|38f5e42962c835075...|      10021411|International|International|   NÃO INFORMADO|NÃO INFORMADO|NÃO INFORMADO|
|155ac2b77f9c57148...|      10010832|International|International|   NÃO INFORMADO|NÃO INFORMADO|NÃO INFORMADO|
|3ce090d73cea3ce3c...|      10027370|International|International|          Madrid|NÃO INFORMADO|           UK|
|179e18b6c59f95eb3...|      10025039|     Domestic|      Central|          Mentor|           OH|           US|
|0884145c61dd29aa3...|      10021804|International|International|   NÃO INFORMADO|NÃO INFORMADO|NÃO INFORMADO|
|0853007d1fa2aae75...|      10019664|     Domestic|      Central|          MOLINE|           IL|           US|
|34fa2f7c3029ef29f...|      10025549|     Domestic|    Northeast|     Shady Grove|           PA|           US|
|0f4ab61f694c42ac4...|      10000478|     Domestic|     Southern|     Little Rock|           AR|           US|
+--------------------+--------------+-------------+-------------+----------------+-------------+-------------+
only showing top 20 rows

In [59]:
fact_orders = spark.sql('''
            SELECT 
            sk_Customer,
            sk_Time,
            sk_Locality,
            Discount_Amount as `Discount Amount`,
            Sales_Cost_Amount as `Sales Cost Amount`,
            Sales_Price as `Sales Price`, 
            Sales_Quantity as `Sales Quantity`
            FROM vw_tabela_desnormalizada_ST
''')

fact_orders.show()

+--------------------+--------------------+--------------------+---------------+-----------------+-----------+--------------+
|         sk_Customer|             sk_Time|         sk_Locality|Discount Amount|Sales Cost Amount|Sales Price|Sales Quantity|
+--------------------+--------------------+--------------------+---------------+-----------------+-----------+--------------+
|d912851bdcbd8921b...|87702de4e2a9f6a88...|8b8d5fbcde8c473ef...|         605.28|            345.2|     669.82|             1|
|d912851bdcbd8921b...|52493187d874b87a4...|8b8d5fbcde8c473ef...|         245.27|           122.21|     303.39|             1|
|d912851bdcbd8921b...|efaf1a66ba883e6ea...|8b8d5fbcde8c473ef...|         605.28|            345.2|     669.82|             1|
|555a3de7185c9783b...|ccd815428418894c9...|ee23db1ca8e5c9048...|         919.75|           605.31|     624.74|             2|
|555a3de7185c9783b...|ccd815428418894c9...|ee23db1ca8e5c9048...|         856.48|           587.13|      58.18|            20|
|555a3de7185c9783b...|ccd815428418894c9...|ee23db1ca8e5c9048...|         379.06|           286.04|     171.65|             3|
|555a3de7185c9783b...|ccd815428418894c9...|ee23db1ca8e5c9048...|         379.06|           285.44|     171.65|             3|
|555a3de7185c9783b...|7e512007235380fa6...|ee23db1ca8e5c9048...|          61.05|            90.58|      202.1|             1|
|555a3de7185c9783b...|afff1d80dfc48c6fb...|ee23db1ca8e5c9048...|          366.3|           543.49|      202.1|             6|
|555a3de7185c9783b...|ef00c131d3e28d37a...|ee23db1ca8e5c9048...|         610.51|           905.82|      202.1|            10|
|555a3de7185c9783b...|a48f071e28153c003...|ee23db1ca8e5c9048...|         919.75|           605.31|     624.74|             2|
|555a3de7185c9783b...|a48f071e28153c003...|ee23db1ca8e5c9048...|         856.48|           587.13|      58.18|            20|
|555a3de7185c9783b...|a48f071e28153c003...|ee23db1ca8e5c9048...|         379.06|           286.04|     171.65|             3|
|555a3de7185c9783b...|a48f071e28153c003...|ee23db1ca8e5c9048...|         379.06|           285.44|     171.65|             3|
|555a3de7185c9783b...|197467d08d187fb2c...|ee23db1ca8e5c9048...|         379.06|           286.24|     171.65|             3|
|555a3de7185c9783b...|eb485b00314c693c0...|ee23db1ca8e5c9048...|         582.11|           449.69|     849.12|             1|
|555a3de7185c9783b...|eb485b00314c693c0...|ee23db1ca8e5c9048...|         582.11|           449.69|     849.12|             1|
|555a3de7185c9783b...|baea58dfd5cf2bc67...|ee23db1ca8e5c9048...|         234.86|           209.47|      342.6|             1|
|555a3de7185c9783b...|0267de22c46821473...|ee23db1ca8e5c9048...|         153.85|            77.66|     224.44|             1|
|555a3de7185c9783b...|d7b88f861fd4bdcf4...|ee23db1ca8e5c9048...|         484.81|           381.65|      176.8|             4|
+--------------------+--------------------+--------------------+---------------+-----------------+-----------+--------------+
only showing top 20 rows